.playVideo{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 30;
    z-index: -1;
    filter: brightness(80%);
    filter: grayscale(70%);;
}
.divText{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self:center;
    margin-top: 50px;
}
.divText h1{
    font-size: 36px;
    padding: 16px;
    font-weight: bold;
}
.divText p{
    padding: 14px;
    font-weight: 300;
}
.myButton{
    background-color: #F87575;
    color: white;
    border: none;
    width: 360px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (min-width:1024px){
    .divText h1{
        font-size: 40px;
        padding: 16px;
        font-weight: bold;
    }
    .divText p{
        padding: 14px;
        font-weight: 300;
        font-size: 18px;
        text-align: center;
    }
    .divText{
        margin-top: 150px;
    }
}
@media (min-width:768px) and (max-width:1023px){
    .divText h1{
        font-size: 40px;
        padding: 16px;
        font-weight: bold;
        text-align: center;
    }
    .divText p{
        padding: 14px;
        font-weight: 300;
        font-size: 18px;
        text-align: center;
    }
    .divText{
        margin-top: 150px;
    }
}