.modal::backdrop {
    background: hsl(0 0% 0% / 50%);
  }
.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 300px;
    height: 10vh;
    border-radius:16px ;
    border: none;
    animation: slide-down-fade-in 300ms ease-out forwards;
}


body > .modal{
    align-self: center;
    justify-self: center;
}
.cancel{
    width: 120px;
    height: 40px;
    margin-top: 5px;
    border-radius: 8px;
    border-color: transparent;
    color: white;
    background-color: #686D76;
}
.delete{
    width: 120px;
    height: 40px;
    margin-top: 5px;
    border-radius: 8px;
    border-color: transparent;
    color: white;
    background-color: #FF6347	;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}