.form{
    display: flex;
    width:  300px;
    margin: 0 auto 2rem;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 0px ;
    margin-top: 10px;
    margin-bottom: 20px;
}
.input{
    flex: 1;
    padding: 12px 16px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #ECE6EE;
}
.button {
    background-color:#ECE6EE ;
    color: #e91e63;
    border: none;
    padding: 0 20px;
    cursor: pointer;
    font-weight: bold;
  
}
@media screen and (min-width:1024px){
    .form{
        width: 700px;
    }
}
@media (min-width:768px) and (max-width:1023px){
    .form{
        width: 600px;
    }
}